body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

.logo h2{
    font-size: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4A90E2;
    padding: 0.75rem 2rem;
    color: #ecf0f1;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}
.navbar ul li #logoutBtn{
    background-color: #0004ff;
    font-size: 20px;
    padding: 6px;
    border-radius: 6px;
}

.navbar ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}


@media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
}

.navbar ul {
      flex-direction: column;
      width: 100%;
      margin-top: 0.5rem;
}

.navbar ul li {
      width: 100%;
}

.navbar ul li a {
      display: block;
      padding: 0.5rem 0;
    }
}

.books, .Transcations{
    margin-left: 60px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 .boo h1, .Transcations h1{
    width: 13rem;
}
.pro h1{
    width: 13rem;
    margin-left: 50px;
}
.details{
    /* text-align: center; */
    margin-left: 350px;
}
.details h3{
    font-family:Arial, Helvetica, sans-serif;
}

.cont-books{
    margin-left: 70px;
    margin-right: 130px;
}
.contains, #transcation, .Search_Books{
    text-align: center;
    margin: 10px 0;
    padding: 15px 20px;
    border-radius: 8px;
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.book-card, .trans-card, .book{
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    padding: 15px;
    text-align: center;
    transition: 0.3s;
}
#transaction-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}

#transaction-table th {
    background-color: #007bff;
    color: white;
}

#transaction-table th, #transaction-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.Search_Books {
    justify-content: center;
}
.Search_Books .search_bar h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Search_Books .search_bar input{
    font-family: cursive;
    padding: 5px;
    font-size: 30px;
    border: 2px solid #007bff;
    border-radius: 15px;
}
.Search_Books .search_bar button{
    cursor: pointer;
    background-color: #007bff;
    font-size: 30px;
    padding: 5px;
    border-radius: 15px;
}
.Search_Books .search_bar .book{
    margin-top: 20px;
    margin-left: 25%;
    justify-content: center;
}

.Profile .details h3{
    font-size: 20px;
    font-family: cursive;
}
.Profile .details h3 span{
    font-family: 'Times New Roman', Times, serif;
}